.git
.github
node_modules
**/node_modules
**/.next
**/dist
**/coverage
.env*
**/.env*
.secrets
**/.secrets
secrets
**/secrets
*.key
**/*.key
*.pem
**/*.pem
*.keystore
**/*.keystore
contracts/out
contracts/cache
contracts/out-solc
contracts/broadcast
*.log
**/*.log
